{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" | strip %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<li class="ag-cv-item" itemscope itemtype="http://schema.org/CreativeWork">
  <a class="ag-cv-item__title" href="{% if post.link %}{{ post.link }}{% else %}{{ base_path }}{{ post.url }}{% endif %}" itemprop="headline">{{ title }}</a>
  {% if post.collection == 'publications' %}
    {% if post.authors %}<div>{% include publication-authors.html authors=post.authors %}</div>{% endif %}
    <div class="ag-cv-item__muted">{{ post.venue }}{% if post.date %}, {{ post.date | date: "%Y" }}{% endif %}</div>
  {% elsif post.venue %}
    <div class="ag-cv-item__muted">{% if post.type %}{{ post.type }}, {% endif %}{{ post.venue }}{% if post.display_date %}, {{ post.display_date }}{% elsif post.date %}, {{ post.date | date: "%Y" }}{% endif %}</div>
  {% endif %}
</li>
